@{
    ViewData["Title"] = "Atualiza Cliente";
}

<h1>ATUALIZAR CLIENTE</h1>
<form>
        <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label"> Atualizar Nome </label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Digite seu Nome</div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label"> Atualizar Email </label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Digite seu novo email</div>
    </div>
        <div class="mb-3">
     <label for="exampleInputEmail1" class="form-label"> Atualizar senha</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Digite sua nova senha</div>
    </div>

        <div class="mb-3">
     <label for="exampleInputEmail1" class="form-label"> Atualizar telefone</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Digite seu novo telefone</div>
    </div>

   
    <button type="submit" class="btn btn-primary">Atualizar</button>
</form>
